@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap');

*{-webkit-tap-highlight-color: transparent;}

body,p,hr,h1,h2,h3,h4,h5{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: white;
  font-family: tahoma;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility!important;
}

a{text-decoration: none;}
a:link {
  color: #252020;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: #252020;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #252020;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: #252020;
  background-color: transparent;
  text-decoration: underline;
}

.header{
  position: fixed;
  top: 0;
  width: 100%;
  height: 90px;
  margin: 0 auto;
  z-index: 99;
  background: white;
}

.headline{
  height: 100%;
  padding-left: 5%;
  padding-top: 20px;
  display: inline-block;
  letter-spacing: 5px;
  color: #252020;
  font-family: 'Lato', sans-serif;
  font-size: 30px;
  font-weight: 300;
}

 .popupmenu{
   display: none;
 }

.menu{
  font-weight: 400;
  font-family: 'Lato', sans-serif;
  float: right;
  padding-right: 5%;
  background: white;
  padding-top: 34px;
  padding-bottom: 15px;
}

.text-menu{
  padding-left: 20px;
  font-weight: 300;
  display: inline-block;
  font-family: 'Lato', sans-serif;
}

.wrap{
  width: 90%;
  margin: auto;
  /*margin-top: 100px;*/
 }

 .wrap-solid{
  width: 70%;
  margin: auto;
  margin-top: 100px;
 }

 .wimages{
    display: grid;
    grid-template-columns: 48% 48%;
    column-gap: 4%;
    margin-bottom: 4%;
 }

.image{
  /*position: relative;*/
  /*text-align: center;*/
  /*overflow: hidden;*/
  /*width: 90%;*/
  height: 700px;
  /*margin: 0 auto;*/
}

.one{
  margin-bottom: 4%;
}

.double{
  width: 100%;
}

.image .image-single{
  /*width: 100%;*/
}

.image .image-double{
  /*width: 47%;*/
}

.image .image-double:first-child{
  /*position: relative;*/
  /*width: 640px;*/
  /*left: 0;*/
  /*display: inline-block;*/
}
.image .image-double:last-child{
  /*position: absolute;*/
  /*right: 0;*/
  /*top: 0;*/
  /*display: inline-block;*/
}

.zoom{
  cursor: grab;
  /*position: unset;*/
  height: 100%;
  /*width: 900px;*/
  /*display: inline-block;*/
  /*overflow: hidden;*/
}

.zoomImg{
  /*width: 100%;*/
  /*height: none;*/
  transition: opacity 0.5s ease-out 0s;
}

.image-solid{
  text-align: center;
}

.bg{
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: repeat;
  background-size: 800px;
}

@media all and (max-width: 920px){

  .menu>span{
    display: none;
  }
   .popupmenu{
   display: inline-block;
 }

/*--------------------MENU------------------------*/

#menu{
  z-index: 100;
}
  .container {
    /*min-height: 100vh;*/
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-behavior: smooth;
    /*background: #131313;*/
    font-family: 'Lato', sans-serif;
}

h1 a {
  font-size: 80px;
  color: #BF2E97;
  text-decoration: none;
  text-transform: uppercase;
}

.popover {
   display: none;
   box-shadow: 0px 6px 8px rgba(19, 19, 19, .7);
}

.popover:target {
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popover .content {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 0;
  height: 0;
  color: #fff;
  background-color: #080808;
  animation: .8s grow ease forwards;
  text-align: center;
  opacity: 0.9;
}

.nav_list  {
  list-style-type: none;
  padding-inline-start: 0;
}

.nav_list a {
  text-decoration: none;
  font-size: 50px;
  color: #fff;
}

.nav_list_item {
  height: 100%;
  overflow: hidden;
}

.nav_list li {
  padding: 15px 0;
  text-transform: uppercase;
  transform: translateY(200px);
  opacity: 0;
  animation: 1s slideUp ease forwards .5s;
  position: relative;
}

.nav_list li::before {
  content: '';
  position: absolute;
  height: 2px;
  width: 0px;
  left: 0;
  bottom: 10px;
  background: #ffffff;
  transition: all .5s ease;
}

.nav_list li:hover:before {
      width: 100%;
}

.popover p {
  padding: 50px;
  opacity: 0;
  animation: 1s fadeIn ease forwards 1s;
}

.popover .close::after {
  right: 0;
  top: 0;
  width: 50px;
  height: 50px;
  position: absolute;
  display: flex;
  z-index: 1;
  font-size: 30px;
  align-items: center;
  justify-content: center;
  /*background-color: #BF2E97;*/
  color: #fff;
  content: "×";
  cursor: pointer;
  opacity: 0;
  animation: 1s fadeIn ease forwards .5s;
}

@keyframes grow {
  100% {
    height: 100%;
    width: 100%;
 }
}

@keyframes fadeIn {
100% {
  opacity: 1;
 }
}

@keyframes slideUp {
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/*--------------------MENU------------------------*/


  .double {
    margin-bottom: 4%;
  }
  .wimages{
    display: block;
  }
}
@media all and (max-width: 650px){
  .headline{
    position: absolute;
  }
  .header{
    height: inherit;
  }
  .text-menu{
    padding-left: 11px;
  }
/*  .menu{
    width: 100%;
    float: none;
    margin: 0px 5%;
    padding-right: 5%;
  }*/

  .popupmenu{
    display: inline-block;
    float: right;
  }
  #skate{
    background-size: 790px !important;
  }
}